.pagesBg-container {
  position: relative;
  background-image: url('../../assets/001 1.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 3rem 1.5rem;
  overflow: hidden;
  margin-bottom: 5rem;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #153b5fc8;
    z-index: 1;
  }
}

.pagesBg-content {
  position: relative;
  z-index: 2;
  text-align: center;
  width: 100%;
}

.pagesBg-header {
  width: 100%;
  font-size: 4rem;
  display: flex;
  justify-content: center;
  color: #fff;
  margin-bottom: 0.5rem;
}

/* ---------- BREADCRUMB ---------- */
.breadcrumb {
  margin-top: 0.5rem;
  font-size: 1rem;
  color: #fff;
  opacity: 0.9;
  display: flex;
  justify-content: center;
  gap: 0.5rem;

  .breadcrumcName{
    color: #0e2942c8;
;
  }

  a {
    color: #fff;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}
