.detail_ad_section {
  background-color: #162A41;
  text-align: center;
  color: white;
  padding: 2rem 1rem 3.5rem 1rem;
  margin-top: 1.5rem;


  .ad-underline {
    display: block;
    width: 2.5rem;
    height: 0.2rem;
    background: #fff;
    margin: 0.8rem auto;
    border-radius: 0.1rem;
  }
}


.detail_search_section {
  background-color: #EEF7FF;
  padding: 1rem 1rem 1.5rem 1rem;


  .search-underline {
    display: block;
    height: 0.1rem;
    background: #D3DEE8;
    margin: 0.8rem auto;
    border-radius: 0.1rem;
  }

  .searchbar-form {

    position: relative;
    display: flex;
    align-items: center;
    gap: 0.5rem;

    .search-icon {
      position: absolute;
      left: 0.5rem;
      top: 50%;
      transform: translateY(-50%);
      color: #7B7B7B;

      pointer-events: none;

      font-size: 1rem;
      z-index: 2;
    }

    input {
      width: 100%;

      padding-left: 1.8rem;
    
      font-size: 0.8rem;
      padding: 0.2rem 0.2rem 0.2rem 1.8rem;
      border: 1px solid #D3DEE8;
      border-radius: 0.2rem;
      box-sizing: border-box;
   
    }
  }
}