@use "./main.scss";
@use "./form.scss";

.DetailWorker_p{
    /* max-width: 69.3rem; */
    display: flex;
justify-content: center;

margin-bottom: 7rem;

}
.rightSide{
    max-width: 14.1rem;
    
}


