.search_bg_box {
    background-image: url('../../assets/title_image.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    min-height: 60vh;


    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
    padding: 2rem;
  
    h1 {
        text-align: center;
      font-weight: bold;
      font-size: 3rem;
      color: white;
      margin-bottom: 2rem;
    }
  
    .searchform_bg{
        background-color: white;
        max-width: 900px;
        width: 900px;
       max-height: 202px;
       padding: 1rem;
 
       .search_box{
        input{
            width: 85%;
            height: 3rem;
            border: 1px solid #ccc;
            border-radius: 0.2rem;
            font-size: 1rem;
            padding: 0 0.8rem;
        }

        button{
            width: 10%;
            height: 3rem;
            margin-left: 1rem;
            background-color: #162A41;
             color: white;
            border: none;
        }
       }

    }
}
 
  
  