.info-section{
max-width:27.8rem ;
    .info-Box{
        text-align: center;
        list-style: none;
        text-decoration: none;
        padding: 4rem;

        li{
            background-color: black;
            color: white;
            border-radius: 5rem;
            max-width: 1.2rem;
          padding: 1rem;

        }
    }
}