.side-contact{
       padding: 2.8rem;
    border: 0.1rem solid #e5e7eb;
    border-radius: 0.6rem;
    background: #fff;
        max-width: 39.6rem;
}

.Contact-name-underline:after {
    content: " ";
    max-width: 4rem;
    display: block;
    border-bottom: 3px solid #0b1f36;
    margin-bottom: 1.5rem;
}


//input boxes sizing
.Contact-name-box {

    width: 16.3rem;
}

.Contact-email-box {

    width: 16.3rem;

}

.Contact-topic-box {
    max-width: 35.6rem;
    width: 35.6rem;
}

.Contact-message-box {
    max-width: 35.6rem;
    max-height: 13.6rem;

  resize: none;  
  overflow: auto; 

}
//end of box sizes


.Contact-form-title {
    font-size: 1.5rem;
    font-weight: 600;

}


.Contact-contact-form .row {
    display: flex;
    gap: 1.3rem;
}

.Contact-field {
    display: flex;
    flex-direction: column;
    margin-bottom: 1.3rem;
    flex: 1;
    label {
        margin-bottom: 0.6rem;
    }
    
    input,
    textarea {
        padding: 12px 14px;
        border: 0.1rem solid #d1d5db;
        border-radius: 4px;
        font-size: 15px;
    }
}


.Contact-submit-btn {
    padding: 0.8rem 1.4rem;

    background: #0b1f36;
    color: white;
    border: none;
    border-radius: 0.1rem;
    font-size: 1rem;
    cursor: pointer;
}



