@use "./sideinfo.scss";

.contact-us-section {
    max-width: 69.3rem; 
    margin: 0 auto;
}
.contact-p-txt{
    max-width: 40rem;
   margin-left: 7rem; padding-bottom: 2rem;

   .title-underline{
     content: " ";
    max-width: 4rem;
    display: block;
    border-bottom: 3px solid #0b1f36;
   }
}
.topPart {
    display: flex;
    justify-content: center;
    gap: 1.5rem;

    margin-bottom: 6rem;
}

.side-contact,
.side-info {
    border: 1px solid #d1d5db;
    border-radius: 0.4rem;
    padding: 1.5rem;
}


.contact-map{
    justify-items: start;
}