.top_bg {
    background-color: #162A41;
    padding: 0.5rem;

    .top_menu {
        max-width: 1000px; 
        margin: 0 auto; 
        .top {
            display: flex;
            justify-content: space-between;
            align-items: center; 
            color: white;
            font-size: 0.9rem;
        }

        .top_item{
            text-decoration: none;
            list-style: none;
            color: white;
        }
        div {
            display: flex;
            gap: 1rem; 
        }
    }
}