.make-user-box {
    display: flex;
    justify-content: center;
}

.makeuser-form {
    border: 1px solid #D3DEE8;
    padding: 3rem 8rem;
    box-shadow: #0074e11f 1px 2px 14px;
    margin: 5rem 0 10rem 0;
}


.fieldMU {
    display: flex;
    flex-direction: column;
    margin-bottom: 1.3rem;
    flex: 1;
}

.fieldMU label {
    margin-bottom: 0.6rem;
}

.fieldMU input,
.fieldMU textarea {
    padding: 12px 14px;
    border: 0.1rem solid #d1d5db;
    border-radius: 4px;
    font-size: 15px;

    font-weight: 300;
}

.submit-makeuser-btn {
    background-color: #162A41;
    color: white;

    border: none;
    padding: 1rem 10rem 1rem;
    border-radius: 0.2rem;
}

